<a
  class="btn btn-primary civiawards__award__add-review-fields"
  ng-click="openReviewFieldSelectionPopup()">
  Add Review Fields
</a>

<table class="table civiawards__award__review-fields--selected">
  <thead>
  <tr>
    <th>Review Field Name</th>
    <th>Field Set</th>
    <th>Order</th>
    <th width="20">Required</th>
    <th>Data Type</th>
    <th>Field Type</th>
    <th></th>
  </tr>
  </thead>
  <tbody ng-if="additionalDetails.selectedReviewFields.length === 0">
    <tr>
      <td colspan="5" class="text-center">
        No Review Fields has been selected. Please select from above.
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr
      ng-repeat="reviewField in additionalDetails.selectedReviewFields | orderBy: 'weight'"
      ng-if="additionalDetails.selectedReviewFields.length > 0">
      <td>{{getReviewFieldData(reviewField.id, 'label')}}</td>
      <td>{{getReviewFieldData(reviewField.id, 'custom_group_title')}}</td>
      <td>
        <a
          class="crm-weight-arrow" ng-if="$index > 0"
          ng-click="moveToTop(reviewField)">
          <img
            src="{{resourcesBaseUrl + '/i/arrow/first.gif'}}"
            title="Move to top"
            alt="Move to top" class="order-icon"/>
        </a>
        <a
          class="crm-weight-arrow"
          ng-if="$index > 0" ng-click="moveUp(reviewField)">
          <img
            src="{{resourcesBaseUrl + '/i/arrow/up.gif'}}"
            title="Move up one row"
            alt="Move up one row" class="order-icon"/>
        </a>
        <a
          class="crm-weight-arrow" ng-click="moveDown(reviewField)"
          ng-if="$index < additionalDetails.selectedReviewFields.length - 1">
          <img
            src="{{resourcesBaseUrl + '/i/arrow/down.gif'}}"
            title="Move down one row"
            alt="Move down one row" class="order-icon"/>
        </a>
        <a
          class="crm-weight-arrow" ng-click="moveToBottom(reviewField)"
          ng-if="$index < additionalDetails.selectedReviewFields.length - 1">
          <img
            src="{{resourcesBaseUrl + '/i/arrow/last.gif'}}"
            title="Move to bottom"
            alt="Move to bottom" class="order-icon"/>
        </a>
      </td>
      <td align="center">
        <input
          ng-click="toggleRequiredState(reviewField)"
          ng-checked="findReviewFieldByID(reviewField.id).required"
          type="checkbox"/>
      </td>
      <td>{{getReviewFieldData(reviewField.id, 'data_type')}}</td>
      <td>{{getReviewFieldData(reviewField.id, 'html_type')}}</td>
      <td>
        <a
          ng-click="removeReviewFieldFromSelection(reviewField)"
          class="btn btn-link civiawards__award__remove-review-field">
          Remove
        </a>
      </td>
    </tr>
  </tbody>
</table>
