<div id="bootstrap-theme">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">Filter by Field Name</label>
      <div class="col-sm-7">
        <input type="text" ng-model="model.searchText" class="form-control" placeholder="Enter text to filter">
      </div>
    </div>
  </form>
  <table class="table civiawards__award__review-fields">
    <thead>
    <tr>
      <th>Review Field Name</th>
      <th>Enabled</th>
      <th>Data Type</th>
      <th>Field Type</th>
    </tr>
    </thead>
    <tbody>
      <tr
        ng-repeat="reviewField in model.reviewFields | filter: model.searchText"
        ng-click="model.toggleReviewField(reviewField)">
        <td>{{reviewField.label}}</td>
        <td align="center">
          <input
            ng-checked="!!model.findReviewFieldByID(reviewField.id)"
            type="checkbox">
        </td>
        <td>{{reviewField.data_type}}</td>
        <td>{{reviewField.html_type}}</td>
      </tr>
    </tbody>
  </table>
</div>
