<div id="bootstrap-theme">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">Filter by Field Name</label>
      <div class="col-sm-7 has-feedback">
        <input
          type="text" ng-model="model.searchText"
          class="form-control"
          placeholder="Enter text to filter"/>
        <span
          class="glyphicon glyphicon-search form-control-feedback"
          aria-hidden="true">
        </span>
      </div>
    </div>
  </form>
  <table class="table civiawards__award__review-fields">
    <thead>
    <tr>
      <th>Review Field Name</th>
      <th>Enabled</th>
      <th>Data Type</th>
      <th>Field Type</th>
    </tr>
    </thead>
    <tbody>
      <tr
        ng-repeat="reviewField in model.reviewFields | filter: model.searchText"
        ng-attr-title="{{reviewField.is_active === '0' ? 'This field is disabled.' : ''}}"
        ng-class="{ disabled: !model.isTruthy(reviewField.is_active) }"
        ng-click="model.toggleReviewField(reviewField)">
        <td>{{reviewField.label}}</td>
        <td align="center">
          <input
            ng-checked="!!model.findReviewFieldByID(reviewField.id)"
            ng-disabled="!model.isTruthy(reviewField.is_active)"
            type="checkbox"/>
        </td>
        <td>{{reviewField.data_type}}</td>
        <td>{{reviewField.html_type}}</td>
      </tr>
    </tbody>
  </table>
</div>
