<div id="bootstrap-theme">
  <form name="model.review_panel_form" class="form-horizontal civiawards__award__review-panel-form">
    <div class="form-group">
      <label class="col-sm-3 control-label required-mark">
        Title
      </label>
      <div class="col-sm-5">
        <input
          type="text" ng-model="model.reviewPanel.title" required
          class="form-control" ng-minlength="1" placeholder="Review Panel Title">
        </input>
      </div>
    </div>
    <div class="form-group">
      <label
        for="civiaward-review-panel-popup-isenabled"
        class="col-sm-3 control-label">
        Enabled?
      </label>
      <div class="col-sm-5">
        <input
          type="checkbox" id="civiaward-review-panel-popup-isenabled"
          ng-model="model.reviewPanel.isEnabled"
        />
      </div>
    </div>
  </form>
</div>
