<table class="table table-hover civiawards__award__review-fields">
  <thead>
  <tr>
    <th></th>
    <th>Review Field Name</th>
    <th>Field Type</th>
  </tr>
  </thead>
  <tbody>
    <tr ng-repeat="reviewField in reviewFields" ng-click="toggleReviewField(reviewField)">
      <td align="center">
        <input
          ng-click="$event.stopPropagation()"
          ng-model="additionalDetails.selectedReviewFields[reviewField.id]"
          type="checkbox">
      </td>
      <td>{{reviewField.label}}</td>
      <td>{{reviewField.data_type}}</td>
    </tr>
  </tbody>
</table>
