.civiawards__award--edit {
  > .panel-body {
    padding: 0;
  }
}

.civiawards__award__basic-details {
  input:not([type='checkbox']):not([crm-ui-datepicker]):not(.crm-form-date),
  textarea {
    width: 250px;
  }

  .ng-invalid:not(.ng-untouched),
  .ng-invalid:not(.ng-pristine) { //for crm-ui-select
    border-color: $brand-danger;
  }
}

.civiawards__award__stages {
  th:first-child {
    width: 16px;
  }
}

.civiawards__award__stages,
.civiawards__award__review-fields {
  [type='checkbox'] {
    margin-top: -5px;
  }

  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.civiawards__award__review-fields--selected {
  margin: 0 20px 20px !important;
  width: calc(100% - 40px);

  tbody {
    tr {
      cursor: auto;
    }
  }
}

.civiawards__award__add-review-fields {
  margin: 20px;
}

.civiawards__award__remove-review-field {
  padding: 0;
}
