.civiawards__crm-popup__container {
  background: $crm-white;
  box-shadow: none;
  margin-bottom: 0;
  padding-top: 0 !important;

  .panel {
    box-shadow: none;
  }

  .panel-body {
    border: 0 !important;
  }
}
