.civicase__dashboard__action-separator {
  background: $crm-white;
  display: inline-block;
  height: 30px;
  margin-right: 13px;
  position: relative;
  top: -2px;
  vertical-align: bottom;
  width: 1px;
}
