.civiawards__new-award {
  > .panel-body {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.civiawards__new-award__basic-details {
  input:not([type='checkbox']),
  textarea {
    width: 250px;
  }

  .ng-invalid:not(.ng-untouched),
  .ng-invalid:not(.ng-pristine) { //for crm-ui-select
    border-color: $brand-danger;
  }
}

.civiawards__new-award__tab-container {
  margin-left: -20px;
  margin-right: -20px;
}

.civiawards__new-award__award-stages {
  th:first-child {
    width: 16px;
  }
}

.civiawards__new-award__name-field-container {
  input {
    display: inline-block;
  }

  .fa {
    color: $brand-primary;
  }
}
