.civiawards__reviews-tab {
  &__action-button {
    box-shadow: $box-shadow;
  }

  &__record-action-button.btn {
    font-size: $font-size-h2;
    line-height: $font-size-h2;
  }

  &__table-container {
    overflow-x: auto;
  }

  &__empty {
    color: $gray-darker;
    font-weight: 600;
    margin-top: 40px;
    opacity: 0.65;
  }

  &__text-fields {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    * {
      display: inline;
      white-space: nowrap;
    }

    br {
      display: none;
    }
  }

  &__text-fields--Text {
    width: 100px;
  }

  &__text-fields--TextArea,
  &__text-fields--RichTextEditor {
    width: 150px;
  }
}
