<div id="bootstrap-theme">
  <form class="form-horizontal">
    <div class="form-group">
      <input
        class="form-control"
        crm-ui-select="{allowClear: false, multiple: false, data: model.awardOptions}"
        ng-model="model.selectedFilters.awardFilter" />

      <label>Application Statuses</label>
      <input
        class="form-control"
        crm-ui-select="{allowClear: false, multiple: true, data: model.statuses}"
        ng-model="model.selectedFilters.statuses" />

      <label>Award Types</label>
      <input
        class="form-control"
        crm-ui-select="{allowClear: false, multiple: true, data: model.award_types}"
        ng-model="model.selectedFilters.award_types" />

      <label>Award Start Date</label>
      <civicase-ui-date-range date-range="model.selectedFilters.start_date"></civicase-ui-date-range>

      <label>Award End Date</label>
      <civicase-ui-date-range date-range="model.selectedFilters.end_date"></civicase-ui-date-range>
      <br />
      <label
        class="civicase__case-filter-form-elements"
        ng-click="model.selectedFilters.showDisabledAwards = !model.selectedFilters.showDisabledAwards"
      >
        <span class="civicase__checkbox" role="checkbox" aria-checked="true" tabindex="0">
          <i
            ng-if="model.selectedFilters.showDisabledAwards"
            class="civicase__checkbox--checked material-icons ng-scope"
          >check_box</i>
        </span>
        <span class="control-label">
          Show Disabled Awards
        </span>
      </label>
    </div>

    <button
      ng-click="model.applyFilterAndCloseDialog()"
      type="button" class="btn btn-primary pull-right">
      Apply
    </button>
  </form>
</div>
