<div
  class="btn-group btn-group-md"
  uib-dropdown
  dropdown-append-to="'#bootstrap-theme'"
>
  <button
    class="btn btn-default btn-sm dropdown-toggle"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    uib-dropdown-toggle
    aria-label="{{ ts('Actions') }}"
    ng-disabled="caseItem['case_type_id.is_active'] === '0'"
  >
    <i class="material-icons">more_vert</i>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
    <li>
      <a href ng-click="handleViewActivity(payment.id)">
        {{ ts('View') }}
      </a>
      <a
        ng-if="isEditActionVisible(payment)"
        href
        ng-click="handleEditActivity(payment.id)">
        {{ ts('Edit') }}
      </a>
      <a
        ng-if="isDeleteActionVisible(payment)"
        href
        ng-click="handleDeleteActivity(payment.id)">
        {{ ts('Delete') }}
      </a>
    </li>
  </ul>
</div>
