<div crm-ui-accordion="{title: ts('Filters'), collapsed: true}">
  <form
    class="row civiawards__payments-tab__filters"
    ng-submit="onFilter({ $filters: filters })"
  >
    <div class="col-sm-3">
      <label>
        {{:: ts('ID') }}
        <input
          class="form-control"
          ng-model="filters.id"
        />
      </label>
    </div>
    <div class="col-sm-3 col-sm-offset-3">
      <label>
        {{:: ts('Status') }}
        <input
          class="form-control"
          ng-model="filters.status_id"
          crm-ui-select="{
            allowClear: true,
            placeholder: ts('Select Status'),
            multiple: false,
            data: paymentStatusOptions
          }"
        />
      </label>
    </div>
    <div class="col-sm-3 clear">
      <label>
        {{:: ts('Payee') }}
        <input class="form-control"
          ng-model="filters.target_contact_id"
          crm-entityref="{
            create: false,
            entity: 'Contact',
            select: {
              allowClear: true,
              multiple: false,
              placeholder: ts('Select Contact')
            }
          }"
        />
      </label>
    </div>
    <div class="col-sm-3 col-sm-offset-3">
      <label>
        {{:: ts('Ref') }}
        <input
          class="form-control"
          ng-model="filters.custom_Payee_Ref"
        />
      </label>
    </div>
    <div class="col-sm-3 clear">
      <label>
        {{:: ts('Type') }}
        <input
          class="form-control"
          ng-model="filters.custom_Type"
          crm-ui-select="{
            allowClear: true,
            placeholder: ts('Select Type'),
            multiple: false,
            data: paymentTypeOptions
          }"
        />
      </label>
    </div>
    <div class="col-sm-3 col-sm-offset-3">
      <label>
        {{:: ts('Due Date') }}
        <civicase-ui-date-range
          enforce-time
          date-range="filters.activity_date_time"
        ></civicase-ui-date-range>
      </label>
    </div>
    <div class="col-sm-12 text-right">
      <button type="submit" class="btn btn-primary">
        Filter
      </button>
    </div>
  </form>
</div>
