<div crm-ui-accordion="{title: ts('Filters'), collapsed: true}">
  <div class="row">
    <div class="col-sm-6">
      <label>
        {{:: ts('ID') }}
        <input
          class="form-control"
          ng-model="filters.id"
          ng-model-options="{ debounce: 1000 }"
          ng-change="filterPayments()"
        />
      </label>
    </div>
    <div class="col-sm-6">
      <label>
        {{:: ts('Status') }}
        <input
          class="form-control"
          ng-model="filters.status_id"
          ng-change="filterPayments()"
        />
      </label>
    </div>
    <div class="col-sm-6">
      <label>
        {{:: ts('Payee') }}
        <input class="form-control"
          style="width: 180px;"
          ng-model="filters.target_contact_id"
          ng-change="filterPayments()"
          crm-entityref="{
            create: false,
            entity: 'Contact',
            select: {
              allowClear: true,
              multiple: false,
              placeholder: ts('Select Contact')
            }
          }"
        />
      </label>
    </div>
    <div class="col-sm-6">
      <label>
        {{:: ts('Ref') }}
        <input
          class="form-control"
          ng-model="filters.custom_Payee_Ref"
          ng-model-options="{ debounce: 1000 }"
          ng-change="filterPayments()"
        />
      </label>
    </div>
    <div class="col-sm-6">
      <label>
        {{:: ts('Type') }}
        <input
          class="form-control"
          ng-model="filters.custom_Type"
          ng-change="filterPayments()"
        />
      </label>
    </div>
    <div class="col-sm-6">
      <label>
        {{:: ts('Due Date') }}
        <input
          class="form-control"
          ng-model="filters.activity_date_time"
          ng-change="filterPayments()"
        />
      </label>
    </div>
  </div>
</div>
<div
  ng-if="payments.length > 0"
  class="panel panel-default table-responsive"
>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Payee</th>
        <th>Type</th>
        <th>Payment Amount</th>
        <th>Payment Currency</th>
        <th>Due Date</th>
        <th>Payee Ref</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="payment in payments">
        <td>{{payment.id}}</td>
        <td>{{payment.target_contact_name}}</td>
        <td>{{payment.paymentTypeLabel}}</td>
        <td>{{payment.custom_Payment_Amount_Value|limitTo:1}}</td>
        <td>{{payment.custom_Payment_Currency}}</td>
        <td>{{payment.activity_date_time | civicaseCrmDate}}</td>
        <td>{{payment.custom_Payee_Ref|limitTo:10}}</td>
        <td>{{payment['status_id.label']}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div
  ng-if="payments.length === 0 && !isLoading"
  class="text-center text-uppercase civicase__case-tab__empty">
  {{:: ts('No Payments')}}
</div>
